@{
    ViewData["Title"] = "Chemist shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ChemistShopSite.Models.Medicament

<img src="~/images/apteka.jpg" />
<h1>Medicaments</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Producer</th>
            <th>Storage</th>
        </tr>
    </thead>
    <tbody>
        @{
            List<Medicament> medicaments = (List<Medicament>)ViewData["medicaments"];
            foreach (var item in medicaments)
            {
                <tr>
                    <td>@item.MedicamentName</td>
                    <td>@item.Manufacturer</td>
                    <td>@item.Storage</td>
                </tr>
            }
        }
    </tbody>
</table>

<button id="getTime">get request</button>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $("#getTime").on("click",function () {
        $.ajax({
            url: "Home/GetCurrentDate",
            type: "GET",
            dataType: 'text',
            success: function (date) {
                alert("today is: " + date)
            },
            failure: function (response) {
                alert("2");
            }
        });
    });
</script>
@using (Html.BeginForm("AddMedicament", "Home", FormMethod.Post))
{
    <p>
        <label>Name</label>
        @Html.EditorFor(x => x.MedicamentName)
    </p>
    <p>
        <label>Producer</label>
        @Html.EditorFor(x => x.Manufacturer)
    </p>
    <p>
        <label>Storage</label>
        <select name="storage">
            {
            @{
                List<String> list = (List<String>)ViewData["storages"];
                foreach (var item in list)
                {
                    <option value=@item>@item</option>
                }
            }
            }
        </select>
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
}
